.principal_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10;
}

.products_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 60px;
  justify-content: center;
  padding: 20px;
}

h1 {
  font-size: 24px;
  color: #fbc02d;
  text-align: center;
  margin-top: 20px;
}

ng-template {
  display: block;
}
