.register_container {
  width: 100vw;
  height: 100%;
  display: flex;
  background-color: linear-gradient(135deg, #f7dc6f, #f1c40f);
  justify-content: center;
  align-items: center;
}

.form_container {
  background-color: #8e44ad; 
  border-radius: 15px;
  padding: 50px 40px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
  margin-top: 30px;
}

.tittle_container h1 {
  font-size: 28px;
  color: #f7dc6f; 
  margin-bottom: 10px;
  font-weight: bold;
}

.input_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-size: 16px;
  color: #f7dc6f; 
  font-weight: 500;
  text-align: left;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="date"] {
  width: 94%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: #8e44ad;
  background-color: #fdf2e9;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder {
  color: #b7950b; 
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="date"]:focus {
  outline: none;
  border: 2px solid #f1c40f; 
  box-shadow: 0 0 10px rgba(241, 196, 15, 0.7);
}

input[type="submit"] {
  background-color: #f7dc6f;
  border: none;
  padding: 15px;
  border-radius: 8px;
  color: #8e44ad; 
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:hover {
  background-color: #f1c40f; 
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

input[type="submit"]:active {
  transform: scale(1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.login_link p {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #f7dc6f; 
}

.login_link a {
  color: #e0b672; 
  text-decoration: none;
  font-weight: bold;
}

.login_link a:hover {
  text-decoration: underline;
  color: #f1c40f; 
}
