<div class="sell_container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form_container">
    <div class="tittle_container">
      <h1>Sell Product</h1>
    </div>
    <div class="input_container">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name" placeholder="Smartphone">

      <label for="description">Description</label>
      <input id="description" type="text" formControlName="description" placeholder="Smartphone with 5G and high tech">

      <label for="value">Value</label>
      <input id="value" type="number" formControlName="value" placeholder="50.0">

      <label for="quantity">Quantity</label>
      <input id="quantity" type="number" formControlName="quantity" placeholder="5">

      <label for="image">Image</label>
      <input type="file" (change)="onFileSelected($event)" />
      
      <input type="submit" value="Sell" [disabled]="form.invalid">
    </div>
  </form>
</div>
